<form [formGroup]="addTaskForm" (ngSubmit)="onSubmit()">

  <div class="input-group mb-2">
    <span class="input-group-text" id="addon-wrapping">Title</span>
    <input formControlName="title" name="taskTitle" type="text" class="form-control" placeholder="Title"
      aria-label="Title" aria-describedby="addon-wrapping">
  </div>

  <div class="form-floating mb-2">
    <textarea formControlName="description" class="form-control h-100" placeholder="Write description here"
      id="taskDescription" name="taskDescription"></textarea>
    <label for="taskDescription">Description</label>
  </div>

  <div class="input-group mb-2">
    <span class="input-group-text" id="addon-wrapping">Priority</span>
    <select formControlName="priority" class="form-select" aria-label="Default select example" name="taskPriority">
      <option value="1">High</option>
      <option value="2">Medium</option>
      <option value="3">Low</option>
    </select>
  </div>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button id="liveToastBtn" type="button" class="btn btn-outline-danger">Cancel</button>
    <button id="liveToastBtn" type="submit" class="btn btn-outline-success px-4">Add</button>
  </div>
</form>
