<header class="py-3 mb-4 border-bottom">
  <div class="container d-flex flex-wrap justify-content-center">
    <a routerLink="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
      <img src="../../assets/task.png" class="site-logo" alt="page logo">
      <span class="fs-4 fw-bold" *ngIf="!(selectedProjectName$ | async)">All tasks</span>
      <ng-container *ngIf="selectedProjectName$ | async">
        <span class="fs-4">{{selectedProjectName$ | async}} tasks</span>
        <button class="btn btn-sm btn-outline-danger ms-2" (click)="clearProjectFilter()">X</button>
      </ng-container>

    </a>

    <span class="fs-4">{{taskCount$ | async}} tasks of {{allTaskCount$ | async}}</span>

    <app-search-bar class="ms-3"></app-search-bar>
  </div>

  <div class="container d-flex flex-wrap justify-content-end">
    <span class="fs-4 p-2">H: {{(taskCountByPriority$ | async)?.high}}</span>
    <span class="fs-4 p-2">M: {{(taskCountByPriority$ | async)?.medium}}</span>
    <span class="fs-4 p-2">L: {{(taskCountByPriority$ | async)?.low}}</span>
  </div>
</header>
