<div class="input-group mb-2">
  <span class="input-group-text" id="addon-wrapping">Name</span>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username"
    aria-describedby="addon-wrapping">
</div>
<div class="input-group mb-2">
  <span class="input-group-text" id="addon-wrapping">Last Name</span>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username"
    aria-describedby="addon-wrapping">
</div>
<div class="input-group mb-2">
  <input type="text" class="form-control" aria-label="Text input with dropdown button">
  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
    aria-expanded="false">Dropdown</button>
  <ul class="dropdown-menu dropdown-menu-end">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li>
      <hr class="dropdown-divider">
    </li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div>

<div class="form-floating mb-2">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
    style="height: 100px"></textarea>
  <label for="floatingTextarea2">Comments</label>
</div>
