<form [formGroup]="projectEditForm" (ngSubmit)="onSubmit()">

  <div class="input-group mb-2">
    <span class="input-group-text" id="addon-wrapping">Title</span>
    <input formControlName="title" name="title" type="text" class="form-control" placeholder="Project title"
      aria-label="title" aria-describedby="addon-wrapping" id="title">
  </div>

  <div class="alert alert-danger" *ngIf="projectToEditTitle && projectToEditTitle.invalid && (projectToEditTitle.dirty || projectToEditTitle.touched)">
    Project title is required!
  </div>

  <button id="liveToastBtn" type="submit" class="btn btn-outline-success px-4"
    [disabled]="!projectEditForm.valid">Edit</button>
</form>
