<nav class="navbar navbar-expand-lg navbar-light bg-light px-3 mb-2">
  <a class="navbar-brand" routerLink="basic">Basic</a>
  <a class="navbar-brand" routerLink="extended">Extended</a>
</nav>

<router-outlet></router-outlet>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button id="liveToastBtn" type="button" class="btn btn-outline-danger" (click)="navToTaskList()">Cancel</button>
  <button id="liveToastBtn" type="button" class="btn btn-outline-success px-4" (click)="addNewTask()">Add</button>
</div>
