<div class="list-group-item d-flex gap-2">
  <label class="d-flex gap-2">
    <input class="form-check-input flex-shrink-0" type="checkbox" value="">
    <span class="list-item-text flex-grow-1">
      <span
        [ngClass]="{'fw-bold' : task.priority == priority.High, 'fw-normal' : task.priority == priority.Medium || task.priority == null, 'fw-light' : task.priority == priority.Low}">
        {{task.title}}
      </span>
      <small class="d-block text-muted">{{task.description}}</small>
      <small class="d-block text-muted">{{task.project}}</small>
      <span class="badge bg-success me-1" *ngFor="let tag of task.tags">{{tag}}</span>
    </span>
  </label>
  <button class="btn btn-sm btn-outline-warning px-3 py-0" (click)="navToEditTask(task.id)">Edit</button>
  <img (click)="removeTask(task)" class="float-end" src="/assets/x.svg" alt="X">
</div>
