<form [formGroup]="taskAddForm" (ngSubmit)="onSubmit()">

  <div class="input-group mb-2">
    <span class="input-group-text">Title</span>
    <input formControlName="title" name="title" type="text" class="form-control" placeholder="Title" aria-label="Title"
      aria-describedby="addon-wrapping">
  </div>

  <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
    <div *ngIf="title.errors?.['required']">
      Title is required!
    </div>
    <div *ngIf="title.errors?.['maxlength']">
      Title must be max 20 characters long!
    </div>
    <div *ngIf="title.errors?.['forbiddenTitle']">
      Task can't be titled 'task'!
    </div>
  </div>

  <div class="form-floating mb-2">
    <textarea formControlName="description" class="form-control h-100" placeholder="Write description here"
      id="description" name="description"></textarea>
    <label for="description">Description</label>
  </div>

  <div class="alert alert-danger"
    *ngIf="description && description.invalid && (description.dirty || description.touched)">
    Description must be at least 5 characters long!
  </div>

  <div class="input-group mb-2">
    <span class="input-group-text">Project</span>
    <select formControlName="project" class="form-select" aria-label="Task project" name="taskProject">
      <option *ngFor="let project of projectList | async" [value]="project.id">{{project.title}}</option>
    </select>
  </div>

  <div class="input-group mb-2">
    <span class="input-group-text">Priority</span>
    <select formControlName="priority" class="form-select" aria-label="Task priority" name="taskPriority">
      <option [value]="priority.High">High</option>
      <option [value]="priority.Medium">Medium</option>
      <option [value]="priority.Low">Low</option>
    </select>
  </div>

  <ng-multiselect-dropdown [settings]="dropdownSettings" placeholder="Tags" [data]="tagsDropdown"
    formControlName="tags">
  </ng-multiselect-dropdown>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
    <button type="button" class="btn btn-outline-danger" routerLink="/">Cancel</button>
    <button type="submit" class="btn btn-outline-success px-4"
      [disabled]="!taskAddForm.valid">Add</button>
  </div>
</form>
