<form [formGroup]="taskAddForm" (ngSubmit)="onSubmit()">

  <div class="input-group mb-2">
    <span class="input-group-text" id="addon-wrapping">Title</span>
    <input name="title" type="text" class="form-control" placeholder="Title" aria-label="Title"
      aria-describedby="addon-wrapping" formControlName="title">
  </div>

  <div *ngIf="taskTitle && taskTitle.invalid && (taskTitle.dirty || taskTitle.touched)" class="alert alert-danger">
    <div *ngIf="taskTitle.errors?.['required']">
      Title is required!
    </div>
    <div *ngIf="taskTitle.errors?.['maxlength']">
      Title must be max 20 characters long!
    </div>
    <div *ngIf="taskTitle.errors?.['forbiddenTitle']">
      Task can't be titled 'task'!
    </div>
  </div>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="button" class="btn btn-outline-danger" routerLink="/">Cancel</button>
    <button type="submit" class="btn btn-outline-success px-4"
      [disabled]="!taskAddForm.valid">Add</button>
  </div>

</form>
